<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tips Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>633AE0061C3471E70026ECC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633AE01A1C3471E80026ECC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633AE0251C3471E80026ECC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
